<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "tommy.png" %>
  </div>

  <div id="content">
    <h1>Hey there, I'm Tommy and I was born in a barn in southern Indiana!</h1>
    <p>
      Welcome to my blog!  I want to share with you all the crazy adventures that I have had with my family as we travelled across the continental USA.  Did you know - I've even been to Roswell, New Mexico because my dad loves everything about them little green men!  
    </p>
  </div>

</div>
